[submodule "ChaosEngine/vendor/GLFW"]
	path = ChaosEngine/vendor/GLFW
	url = https://github.com/JJRWalker/glfw.git
[submodule "ChaosEngine/vendor/GLM"]
	path = ChaosEngine/vendor/GLM
	url = https://github.com/JJRWalker/glm.git
[submodule "ChaosEngine/vendor/ImGui"]
	path = ChaosEngine/vendor/ImGui
	url = https://github.com/JJRWalker/imgui.git
